.one{
    text-align: center;
    margin-top: 100px;
    background-color: black;
    width: 500PX;
    margin: auto;
}

.bulb{
    width: 200px;
}
.cat{
    width: 200px;
}
.two{
    background-color: pink;
    width: 200px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
}
.two button{
    margin-top: 10px;
    border-radius: 5px;
    background-color: grey;
    color: white;
}
.two p{
    padding-top: 10px;
}